<loading-indicator [data]="getMission()"></loading-indicator>

<div *ngIf="getMission()">
  <h2>{{ getMission().localizedName }}</h2>

  <mission [mission]="getMission()"></mission>

  <h4 i18n="@@missiondetails.header.assignedcharacters">Assigned Characters</h4>

  <div *ngFor="let character of getAssignedCharacters(); index as index">

    <h5> {{ character.localizedName }} </h5>

    <ul>
      <li *ngFor="let skill of character.skills"> {{ skill.localizedSkill }} x{{ skill.count }}</li>
    </ul>

    <button (click)="unassign(index)" i18n="@@missiondetails.button.unassign">Unassign</button>
  </div>

  <h4 i18n="@@missiondetails.header.unassignedcharacters">Unassigned Characters</h4>

  <div *ngFor="let character of getUnassignedCharacters(); index as index">

    <h5> {{ character.localizedName }} </h5>

    <ul>
      <li *ngFor="let skill of character.skills"> {{ skill.localizedSkill }} x{{ skill.count }}</li>
    </ul>

    <button (click)="assign(index)" i18n="@@missiondetails.button.assign">Assign</button>
  </div>

  <button *ngIf="canStartMission()" (click)="startMission()" i18n="@@missiondetails.button.startmission">Start Mission</button>
  <button *ngIf="canFinishMission()" (click)="finishMission()" i18n="@@missiondetails.button.finishmission">Finish Mission</button>
</div>
