<loading-indicator [data]="getMission()"></loading-indicator>

<div *ngIf="getMission()">
  <h2>{{ getMission().localizedName }}</h2>

  <mission [mission]="getMission()"></mission>

  <h4 i18n="@@missiondetails.header.assignedcharacters">Assigned Characters</h4>

  <div *ngFor="let character of getAssignedCharacters(); index as index">

    <h5> {{ character.localizedName }} </h5>

    <ul>
      <li *ngFor="let skill of character.skills"> {{ skill.localizedSkill }} x{{ skill.count }}</li>
    </ul>

    <button pButton type="button" (click)="unassign(index)" label="Unassign" i18n-label="@@missiondetails.button.unassign" class="ui-button-secondary"></button>
  </div>

  <h4 i18n="@@missiondetails.header.unassignedcharacters">Unassigned Characters</h4>

  <div *ngFor="let character of getUnassignedCharacters(); index as index">

    <h5> {{ character.localizedName }} </h5>

    <ul>
      <li *ngFor="let skill of character.skills"> {{ skill.localizedSkill }} x{{ skill.count }}</li>
    </ul>

    <button pButton type="button" (click)="assign(index)" label="Assign" i18n-label="@@missiondetails.button.assign" class="ui-button-secondary"></button>
  </div>

  <button pButton *ngIf="canStartMission()" type="button" (click)="startMission()" label="Start Mission" i18n-label="@@missiondetails.button.startmission"></button>
  <button pButton *ngIf="canFinishMission()" type="button" (click)="finishMission()" label="Finish Mission" i18n-label="@@missiondetails.button.finishmission"></button>
</div>
