<loading-indicator [data]="missions"></loading-indicator>

<div *ngIf="missions">
  <h2>Missions</h2>

  <div *ngFor="let mission of missions; index as index">

    <h3>
      <a [routerLink]="['/missions', index]">{{ mission.name }}</a>
    </h3>

    <p>Status: {{ mission.status }} </p>
    <p>Time: {{ mission.remainingTime }} </p>
    <p>Reward: {{ mission.reward }} </p>

    <ul>
      <li *ngFor="let requirement of mission.requirements"> {{ requirement.requirement }} x{{ requirement.count }}</li>
    </ul>

  </div>
</div>
