<loading-indicator [data]="mission"></loading-indicator>

<div *ngIf="mission">
  <h2>{{ mission.localizedName }}</h2>

  <mission [mission]="mission"></mission>

  <h4>Assigned Characters</h4>

  <div *ngFor="let character of assignedCharacters; index as index">

    <h5> {{ character.localizedName }} </h5>

    <ul>
      <li *ngFor="let skill of character.skills"> {{ skill.localizedSkill }} x{{ skill.count }}</li>
    </ul>

    <button (click)="unassign(index)">
      Unassign
    </button>
  </div>

  <h4>Unassigned Characters</h4>

  <div *ngFor="let character of unassignedCharacters; index as index">

    <h5> {{ character.localizedName }} </h5>

    <ul>
      <li *ngFor="let skill of character.skills"> {{ skill.localizedSkill }} x{{ skill.count }}</li>
    </ul>

    <button (click)="assign(index)">
      Assign
    </button>
  </div>

  <button *ngIf="canStartMission()" (click)="startMission()">Start Mission</button>
  <button *ngIf="canFinishMission()" (click)="finishMission()">Finish Mission</button>
</div>
